@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Oswald&display=swap');

:root {
    --laranja: #f6ba70;
    --Branco: rgb(255, 255, 255);
    --Sombra: 0 2px 20px rgba(0, 0, 0, 0.2);
    --fundo: #d8d9dd;
    --cinzaTranparent: #39393b88;
    --rosado: #ff6b6c;
    --bs-primary: #696cff;
    --bs-secondary: #8592a3;
}

/* faça parte */
div.faca-parte {
    height: 150px;
}

div.faca-parte h3 {
    color: white;
}

.bt-white {
    border: 1px solid white;
    color: white;
    margin-left: 2rem;
}

.bt-white:hover {
    color: var(--bs-primary);
    background-color: white;
}

#cpfResp{
    background-color: #eceef1;
}